## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Stalskoye,RU,2021-10-03 19:58:53,43.1873,46.9672,58.60,72,100,12.33,overcast clouds
1,1,Nishihara,JP,2021-10-03 19:58:53,26.1842,127.7558,79.88,65,20,16.11,few clouds
2,2,Miyako,JP,2021-10-03 19:58:54,39.6367,141.9525,60.94,81,2,7.99,clear sky
3,3,Sarlat-La-Caneda,FR,2021-10-03 19:58:54,44.8890,1.2166,56.08,89,100,2.62,overcast clouds
4,4,Rabaul,PG,2021-10-03 19:52:55,-4.1967,152.1721,78.85,80,93,6.69,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Nishihara,JP,2021-10-03 19:58:53,26.1842,127.7558,79.88,65,20,16.11,few clouds
2,2,Miyako,JP,2021-10-03 19:58:54,39.6367,141.9525,60.94,81,2,7.99,clear sky
4,4,Rabaul,PG,2021-10-03 19:52:55,-4.1967,152.1721,78.85,80,93,6.69,overcast clouds
5,5,Vaini,TO,2021-10-03 19:50:24,-21.2000,-175.2000,75.36,88,90,8.05,overcast clouds
17,17,Weyburn,CA,2021-10-03 19:58:58,49.6668,-103.8511,75.18,20,1,11.50,clear sky
19,19,Vila Franca Do Campo,PT,2021-10-03 19:58:59,37.7167,-25.4333,74.19,85,99,3.87,overcast clouds
20,20,Faanui,PF,2021-10-03 19:51:36,-16.4833,-151.7500,78.66,70,52,10.54,broken clouds
22,22,Hambantota,LK,2021-10-03 19:51:07,6.1241,81.1185,79.56,83,88,12.50,overcast clouds
26,26,Saint-Pierre,RE,2021-10-03 19:50:18,-21.3393,55.4781,71.29,70,90,2.30,overcast clouds
27,27,Kahului,US,2021-10-03 19:47:33,20.8947,-156.4700,84.22,72,20,21.85,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                363
City                   363
Country                362
Date                   363
Lat                    363
Lng                    363
Max Temp               363
Humidity               363
Cloudiness             363
Wind Speed             363
Current Description    363
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(axis =0)
clean_df.count()

City_ID                362
City                   362
Country                362
Date                   362
Lat                    362
Lng                    362
Max Temp               362
Humidity               362
Cloudiness             362
Wind Speed             362
Current Description    362
dtype: int64

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Nishihara,JP,79.88,few clouds,26.1842,127.7558,
2,Miyako,JP,60.94,clear sky,39.6367,141.9525,
4,Rabaul,PG,78.85,overcast clouds,-4.1967,152.1721,
5,Vaini,TO,75.36,overcast clouds,-21.2000,-175.2000,
17,Weyburn,CA,75.18,clear sky,49.6668,-103.8511,
19,Vila Franca Do Campo,PT,74.19,overcast clouds,37.7167,-25.4333,
20,Faanui,PF,78.66,broken clouds,-16.4833,-151.7500,
22,Hambantota,LK,79.56,overcast clouds,6.1241,81.1185,
26,Saint-Pierre,RE,71.29,overcast clouds,-21.3393,55.4781,
27,Kahului,US,84.22,few clouds,20.8947,-156.4700,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [15]:
# 8a. Create the output File (CSV)

output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))